body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  height: auto;
  margin: 0px;
}

/* Header */
header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}
.logo img {
  height: 50px;
}
header nav {
  margin-right: 10px;
}
nav span {
}
nav span a {
  color: white;
  text-decoration: underline;
}

/* Main Content */
.content {
  top: 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: auto;
  width: 1200px;
}
.banner {
  display: flex;
  background-image: url(https://87designer.github.io/tea-cozy/resources/images/img-mission-background.jpg);
  background-position: center;
  height: 700px;
  width: 1200px;
}
.mission {
  align-self: center;
  height: 150px;
  width: 1200px;
  background-color: black;
}

/* Tea of the Month */
.tea-month {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1000px;
  padding: 0px;
  margin: 50px auto;
}
.tea-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
}
.tea-box {
  display:flex;
  flex-direction: column;
  margin: 0px 16px 20px 16px;
}
.tea-box img {
  display: flex;
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}
.tea-box h4 {
  margin: 0px;
}

/* Locations */
.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://87designer.github.io/tea-cozy/resources/images/img-locations-background.jpg);
  height: 500px;
}
.locations h2 {
  margin: 0px auto 15px auto;
}
.location-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.location-box {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
  margin: 0px 20px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: auto;
}
.footer h2 {
}
.copyright {
  text-align: left;
  margin: 100px 0px auto 20px;
}
